.about-hero-section {
  padding-top: 4rem;
  height: 40vh;
  width: 100%;
  background-image: url("../../../assets/images/company_image_2.jpg");
  background-size: cover;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.3);
  background-position: bottom 150px right 0px;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-hero-wrapper {
  font-size: clamp(.8rem, 2vw, 1.5rem);
  /* padding-top: 1rem; */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-hero-wrapper h1 {
  text-transform: uppercase;
  font-size: 3em;
}

.about-hero-wrapper h2 {
  font-size: 1em;
}