.service-section {
  position: relative;
  margin-block: 2rem;
  padding-inline: 1.5rem;
}

.service-background {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.service-cards {
  margin-top: .5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem 4rem;
  justify-items: center;
  /* justify-content: space-between; */

}

@media screen and (max-width: 768px) {
  .service-cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* justify-content: center; */
  }
}