.appointment-section {
  position: relative;
  color: white;
  background-color: var(--primary-color-400);
  padding-bottom: 3rem;
}

.appointment-text {
  text-align: center;
}

.appointment-text h2 {
  margin-bottom: 1.5rem;
}

.appointment-icon {
  margin-top: 2rem;
  margin-bottom: .5rem;
  font-size: 3rem;
}

.appointment-btn-div {
  margin-top: 3rem;
}

.appointment-btn-div .secret-btn {
  margin: 0 auto;
}

