.market-partners-section {
  color: white;
  width: 100%;
  left: 0;
  padding-inline: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 5rem;
  background-blend-mode: overlay;
  /* background: 
  linear-gradient(10deg, rgba(63, 53, 53, 0.281),
  rgba(77, 82, 102, 0.69)),
  url("../../../public/assets/images/our_partners_section_bg.png"); */
  background-image: url("../../../public/assets/images/our_partners_section_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(139, 142, 155, 0.671);
}

.market-partners-wrapper h2 {
  color: #333;
  text-align: center;
}

.market-partners-logo-div {
  width: 150px;
  height: 80px;
  margin: 3rem auto;
}

.partner-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

@media screen and (min-width: 400px) {
  .market-partners-logo {
    padding-inline: 5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

/* .market-partners-logo {
  display: flex;
} */

/* @media screen and (min-width: 900px) {
  .market-partners-logo {
    margin-top: 3rem;
    
    
    gap: 2rem;
    
  }
} */

