.our-service-heading {
  padding-block: 5rem;
  font-size: clamp(.8rem, 2vw, 1.5rem);
  /* background-color: rgba(0, 42, 182, 0.3); */
  background-image: url("../assets/images/min_background_image.png");
  background-attachment: fixed;
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 40vh;
  text-align: center;
  padding-inline: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-service-heading-title h2{
  font-size: 1em;
}