
.contact-form-section {
  padding-top: 5rem;
  padding-bottom: 8rem;
  height: 100%;

  background-image: url("../../../assets/images/contact_form_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.contact-form-heading {
  font-size: clamp(.8rem, 2vw, 1.5rem);
  color: white;
  text-align: center;
  padding-bottom: 5rem;
}

.contact-info {
  padding: 1rem;
  color: white;
}

.contact-info-item {
  position: relative;
  max-width: 600px;
  margin-block: 5rem;
  padding-left: 1.5rem;
}

.contact-info-icon {
  position: absolute;
  background-color: white;
  color: #333;
  width: 60px;
  height: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: .5rem;
  top: 50%;
  transform: translateY(-50%);
}

.contact-info-text {
  padding-left: 4.5rem;
}



@media screen and (min-width: 768px) {
  .contact-form-wrapper {
    display: flex;
  }
}