.client-carousel-section {
  width: 100% !important;
  left: 0 !important;
  padding-inline: 1.5rem !important;
  padding-bottom: 5rem !important;
  background-color: #f3f3f3 !important;
}

.client-carousel-wrapper {
  margin-inline: 1rem;
  padding-inline: 1rem;
}

.client-carousel-wrapper h2 {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.client-swiper {
  margin-bottom: 4rem;
  cursor: grab;
}

.client-swiper-image {
  width: 250px;
  height: 90px;
  margin: 0 auto;
  object-fit: fill;
  object-position: center;
}

/* undisplaying the swiper if not met their media queries */
.swiper-tablet {
  display: none;
}

.swiper-desktop {
  display: none;
  position: relative;
}

.swiper-wrapper {
  margin-bottom: 3rem;
}

/* Displaying swiper ny their media queries */
@media screen and (min-width: 600px) {
  .swiper-mobile {
    display: none;
  }

  .swiper-tablet {
    display: block;
  }

  .swiper-desktop {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .swiper-tablet {
    display: none;
  }

  .swiper-desktop{
    display: block;
  }
}