.client-carousel-section {
  width: 100% !important;
  left: 0 !important;
  padding-inline: 1.5rem !important;
  padding-bottom: 5rem !important;
  background-color: #f3f3f3 !important;
}

.client-carousel-wrapper {
  margin-inline: 5rem;
  padding-inline: 1rem;
}

.client-carousel-wrapper h2 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.client-swiper {
  cursor: grab;
}

.client-swiper-image {
  width: 250px;
  max-height: 90px;
  object-fit: fill;
  object-position: center;
}